<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/createProuduct.css">
</head>

<body>
    <div id="id01" class="modal">
        <form class="modal-content animate">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input id="username" type="text" placeholder="Enter Username" name="username" required>
                <label for="psw"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="password" required>
                <a id="btn"><button type="button">Create</button></a>
            </div>
        </form>
    </div>
    <script src="/js/createProduct.js">
    </script>
</body>
</html>
</body>
</html>