<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/formProuduct.css">
</head>
<body>
    <div id="id01" class="modal">
        <form class="modal-content animate">
            <div class="container">
                 <label for="uid"><b>id</b></label>
                <input id="id" type="text" placeholder="Enter id" name="id" required>
            </div>
        </form>
    </div>
    <script src="/js/getIdProduct.js">
    </script>
</body>
</html>
</body>
</html> -->