<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <video autoplay muted loop id="myVideo">
    <source src="../public/images/Forrest Beach Ocean.mp4" type="video/mp4">
  </video>
  <div class="block1 d-flex justify-content-between">
    <button type="button" class="btn btn-outline-primary" id="getAll">Get All</button>
    <button type="button" class="btn btn-outline-secondary" id="getId">Get ID</button>
    <button type="button" class="btn btn-outline-success" id="create">Create</button>
    <button type="button" class="btn btn-outline-danger" id="update">Update</button>
    <button type="button" class="btn btn-outline-warning" id="delete">Delete</button>
    <button type="button" class="btn btn-outline-info" id="logout">Logout</button>
  </div>
</body>
<script>
  var type = window.localStorage.getItem("type");
  var token = window.localStorage.getItem("token");
  if (type == 2) {
    $("#update").css("display", "none");
  } else if (type == 3) {
    $("#update").css("display", "none");
    $("#getId").css("display", "none");
    $("#create").css("display", "none");
    $("#delete").css("display", "none");
  }
  // api getAll
  $("#getAll").click(function () {
    $.ajax({
      url: "/api/product",
      type: "get",
      headers: {
        token: token,
        data: type
      }
    })
      .then(function (data) {
        if (parseInt(data.type) == 3) {
          var div = $("<div class='container'></div>");
          var row = $('<div class= "row"></div>');
          for (var i = 0; i < data.length; i++) {
            const element = data.result[i];
            var template = `<div class="card col-3" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">id:${element.id}</h5>                                        
                                            <h5 class="card-title">ten:${element.username}</h5>
                                        </div>
                                    </div>`;
            row.append(template);
            div.append(row);
            $("body").append(div);
          }
        } else if (parseInt(data.type) == 1 || parseInt(data.type) == 2) {
          var div = $("<div class='container'></div>");
          $("div").remove();
          var row = $('<div class= "row"></div>');
          for (var i = 0; i < data.result.length; i++) {
            const element = data.result[i];
            var template = `<div class="card col-3" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">id:${element.id}</h5>                                        
                                            <h5 class="card-title">ten:${element.username}</h5>
                                            <h5 class="card-title">password:${element.password}</h5>
                                            <h5 class="card-title">type:${element.type}</h5>
                                        </div>
                                    </div>`;
            row.append(template);
          }
          div.append(row);
          $("body").append(div);
        }
      })
      .catch(function (err) { });
  });
  //api get id
  //api create
  $("#create").click(function () {
    window.location.href = "/create";
  });
</script>

</html>