<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Document</title>
  </head>

  <body>
    <video autoplay muted loop id="myVideo">
      <source src="/images/Futuristic - 896.mp4 " type="video/mp4" />
    </video>
    <div class="block ">
      <button onclick="document.getElementById('id01').style.display='block'"style="width:auto;">
        Login
      </button>
      <a href="/sign-in"> <button style="width:auto;">Sign In</button></a>
      <div id="id01" class="modal">
        <form class="modal-content animate">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'"class="close"title="Close Modal">&times;</span >
          </div>
          <div class="container">
             <label for="email"><b>Email</b></label>
            <input id="email"type="text" placeholder="Enter Email" name="email" required />
            <p id="emailTxt" style="color:red"></p>
            <label for="psw"><b>Password</b></label>
            <input id="password"type="password" placeholder="Enter Password" name="password" required />
            <p id="passTxt" style="color:red"></p>
            <a id="btn"><button type="button">Login</button></a>
          </div>
          <div class="container" style="background-color:transparent">
            <button type="button" onclick="document.getElementById('id01').style.display='none'"  class="cancelbtn" >
              Cancel
            </button>
            <span class="psw">Forgot <a class="p" href="#">password?</a></span>
          </div>
        </form>
      </div>
    </div>
    <script>
      $("#btn").click(function() {
        var password = $("#password").val();
        var email = $("#email").val();
        if (password == "") {
          $("#passTxt").html("Vui lòng nhập mật khẩu");
          $("#password").css("border-color","red");
        }
        if (email == "") {
          $("#emailTxt").html("Vui lòng nhập email");
          $("#email").css("border-color","red");
        } else {
          $.ajax({
            url: "/login",
            type: "post",
            data: {
              password: $("#password").val(),
              email: $("#email").val()
            }
          }).then(function(response) {
              window.localStorage.setItem("token", response.token);
              window.location.href = "/home";
            })
            .catch(function(err) {
              console.log("err");
            });
        }
      });
      var modal = document.getElementById("id01");
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
