<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Document</title>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/images/Gubat Beach.mp4 " type="video/mp4">
    </video>
    <div class="block ">
        <button onclick="document.getElementById('id01').style.display='block'"  style="width:auto;">Login</button>
      <a href="/sign-in">  <button  style="width:auto;">Sign In</button></a>
        <div id="id01" class="modal">
            <form class="modal-content animate">
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" required>
                    <a id="btn"><button  type="button">Login</button></a>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('#btn').click(function () {
            $.ajax({
                url: '/login',
                type: 'post',
                data: {
                    username: $('#username').val(),
                    password: $('#password').val(),
                },

            })
                // console.log(data)
                .then(function (response) {
                    window.localStorage.setItem('token', response.token);
                    window.localStorage.setItem('type', response.type);
                    console.log('Day la ajax cua index');
                    window.location.href = '/home'
                })
                .catch(function (err) {
                    console.log('err');

                })
        })
        var modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>
</body>

</html>