<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/formProuduct.css">
</head>
<body>
    <div id="id01" class="modal">
        <form class="modal-content animate">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input id="username" type="text" placeholder="Enter Username" name="username" required>
                <label for="psw"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="password" required>
                 <label for="email"><b>Email</b></label>
                <input id="email" type="text" placeholder="Enter Email" name="email" required>
                <a id="btn"><button type="button">SignIn</button></a>
            </div>
        </form>
    </div>
    <script>
        $("#btn").click(function() {
        $.ajax({
            url: "/api/product/sign-in",
            type: "post",
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
                email: $("#email").val()
            }
        })
            // console.log(data)
            .then(function(response) {
                alert("Dang ki thanh cong")
            window.location.href='/login'
            })
            .catch(function(err) {
            });
        });
    </script>
</body>
</html>
</body>
</html>